




    <form name="changePass">
        <div layout="column" layout-align="center center">
            <h2>Change Password</h2>

        <md-input-container>
            <label>Old Password</label>
            <input type="password" name="oldPass" ng-model="ctrl.oldPass" required/>
        </md-input-container>

        <span style="color: red" ng-show="changePass.oldPass.$invalid && changePass.oldPass.$dirty">
                        <span ng-show="changePass.oldPass.$error.required">Password is required</span>
        </span>



        <md-input-container>
            <label>New Password</label>
            <input type="password" name="newPass" ng-model="ctrl.newPass" required/>
        </md-input-container>

        <span style="color: red" ng-show="changePass.newPass.$invalid && changePass.newPass.$dirty">
                        <span ng-show="changePass.newPass.$error.required">Email is required</span>
        </span>



        <md-button class="md-raised md-primary" ng-click="ctrl.changePassword($event,ctrl.oldPass,ctrl.newPass)" ng-disabled="changePass.$invalid">Confirm</md-button>


             <span ng-show="ctrl.loader">
                <md-progress-circular class="md-hue-2" md-mode="indeterminate" md-diameter="40px"></md-progress-circular>
                Changing password...
            </span>

        </div>
    </form>



