<!-- style="margin-top: 70px"-->

<div layout="column" layout-align="center center">

    <md-toolbar>
        <h2 class="md-toolbar-tools">
            <span flex>Quiz App</span>
        </h2>
    </md-toolbar>

    <form name="resetPassForm" style="margin-top: 8%">
        <h1>Recover your account</h1>
        <p>We can help you reset your password. First, enter your email address and follow the instructions.</p>
        <md-input-container flex="50">
            <label>Email address</label>
            <input type="email" name="email" ng-model="ctrl.email" required/>
        </md-input-container>

        <div style="color: red" ng-show="resetPassForm.email.$invalid && resetPassForm.email.$dirty">
                        <span ng-show="resetPassForm.email.$error.required">Email is required</span>
                        <span ng-show="resetPassForm.email.$error.email">Invalid email address</span>
        </div>

        <md-button class="md-raised md-primary" ng-click="ctrl.resetPass(ctrl.email,$event)" ng-disabled="resetPassForm.$invalid">Continue</md-button>
    </form>

    <span ng-show="ctrl.loader">
        <md-progress-circular class="md-hue-2" md-mode="indeterminate" md-diameter="40px"></md-progress-circular>
        Sending password...
    </span>

</div>